body {
    background-color: #f5f5f5;
    color: #444;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
h1 {
    color: rgb(179, 131, 226);
    font-size: 8rem;
    text-align: center;
    opacity: 0.4;
}
.completed{
    color: #b6b6b6;
    text-decoration: line-through;
}
.todoItems{
    background-color: #F1FFF1;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.todoItems li {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.fa-trash{
    color: rosybrown;
    display: inline-block;
    size: 0.5rem;
}
form {
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    max-width: 100%;
    width: 400px;
}
.input {
    border: none;
    color: #444;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    display: block;
    width: 80%;
}
.input::placeholder {
    color: #d5d5d5;
    text-align: center;
}
.submit{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 92%;
}

.submit:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .submit {
    padding: 0.25em 0.75em;
  }
}

